body{
    background-color: blue;
    color: black;
}
header{
margin: 40px;
background-color: blue;
text-size-adjust: 80;
justify-content: center;

}
section{background-color: aquamarine;
margin: 40;
display: flex;




}




