body{
    background-color: blue;
    color: black;
}
section{
    background-color: pink;
    padding-top: 70px;
    padding-top: 70;
    display: flex;
    justify-content: center;
}
.primeira chamada{
    margin-right: 5%;
}
.mais videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
header{
margin: 40px;
background-color: red;
text-size-adjust: 80;
justify-content: center;
border:solid 3px rgb(red, green, blue);
padding 31px;

}
section{background-color: aquamarine;
margin: 40;
display: flex;

 padding: 10px;

border: 20px;

}




